<div class="tab strain" data-group="primary" data-tab="strain" >
    <section class="items-list">
        <div>
            <div class="lozenges strain-total">
                <div class="lozenge">
                    <div class="value max">{{total_strain}}</div>
                    <div class="label roboto-condensed-upper">{{total_strain_label}}</div>
                </div>
                <div class="lozenge">
                    <div class="value max">{{max_strain}}</div>
                    <div class="label roboto-condensed-upper">{{maximum_strain_label}}</div>
                </div>
            </div>
            <div class="lozenges">
                {{#each resources as |resource|}}
                    <div class="lozenge">
                        {{!-- <div class="value">{{resource.value}}</div> --}}
                        <input type="number"
                            name="flags.ceane-talent.strain.{{resource.type}}"
                            value="{{resource.value}}"
                            min="0"
                            max="{{plus resource.value ../remaining_strain}}" />
                        <div class="label roboto-condensed-upper">{{resource.label}}</div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="items-section card">
            {{#each rows as |row|}}
                {{#if (eq row.i 0)}}
                    <div class="items-header header">
                        {{#each row.cells as |cell|}}
                            {{#if (eq row.i 0)}}
                                {{#if (eq cell.type "strain")}}
                                    <h3 class="item-name number">{{cell.header}}</h3>
                                {{else}}
                                    <div class="item-header">{{cell.header}}</div>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
            {{/each}}
            <ol class="item-list unlist">
                {{#each rows as |row|}}
                    {{#unless (eq row.i 0)}}
                        <li class="item">
                            {{#each row.cells as |cell|}}
                                {{#if (eq cell.type "strain")}}
                                    <div class="number">{{row.i}}</div>
                                {{else}}
                                    <div class="strain-entry">
                                        <label class="strain-label {{#if cell.disabled}}disabled{{/if}}">
                                            <input type="hidden" name="{{cell.type}}" value={{row.i}} />
                                            <a class="strain-toggle {{#if cell.disabled}}disabled{{/if}}">
                                                <i class="{{#if cell.enabled}}fas{{else}}far{{/if}} fa-circle"></i>
                                                <div>{{cell.label}}</div>
                                            </a>
                                        </label>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </li>
                    {{/unless}}
                {{/each}}
            </ol>
        </div>
    </section>
</div>
